absl-py==0.9.0
actionlib==1.12.0
alabaster==0.7.12
altair==4.1.0
angles==1.9.12
appdirs==1.4.3
argh==0.26.2
astor @ file:///home/conda/feedstock_root/build_artifacts/astor_1593610464257/work
astroid==1.6.5
astunparse==1.6.3
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs==19.3.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1591017828430/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
base-local-planner==1.16.6
base58==2.0.1
bcolz==1.2.1
bcrypt==3.1.7
beautifulsoup4==4.6.3
bleach==3.1.0
blinker==1.4
blis==0.2.4
bokeh==1.4.0
bondpy==1.8.5
boto3==1.14.33
botocore==1.17.33
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
camera-calibration-parsers==1.11.13
catkin==0.7.26
catkin-pkg==0.4.16
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cliff==2.8.3
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1593623337153/work
cmd2==1.0.1
colorama==0.4.3
configparser==5.0.0
controller-manager==0.18.1
controller-manager-msgs==0.18.1
cryptography==2.9.2
cssselect==1.0.3
cv-bridge==1.13.0
cycler==0.10.0
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1591801095798/work
cytoolz==0.10.1
dask==1.1.4
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
diff-match-patch==20181111
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1593349814048/work
distributed==1.26.0
docutils==0.16
entrypoints==0.3
enum-compat==0.0.3
fastcache==1.1.0
feather-format==0.4.0
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1591898334868/work
future==0.18.2
gast==0.3.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio==2.8.0
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1593211372860/work
importlib-resources==1.5.0
interactive-markers==1.11.5
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1594355545720/work
isoweek==1.3.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1592619883817/work
jeepney==0.4.3
Jinja2==2.11.1
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
joint-state-publisher==1.12.15
jsonschema==3.2.0
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1588433934875/work
kiwisolver==1.2.0
laser-geometry==1.6.5
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1591367730010/work
llvmlite==0.32.0
locket==0.2.0
lxml==4.0.0
Mako==1.1.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1589366472132/work
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
MechanicalSoup==0.8.0
message-filters==1.14.6
mistune==0.8.4
mizani==0.7.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1588618851585/work
mpmath==1.1.0
msgpack==1.0.0
murmurhash==1.0.0
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==5.7.8
numba==0.49.0
numexpr==2.7.1
numpy==1.18.4
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1593656006205/work
oauthlib==3.0.1
olefile==0.46
opencv-python==4.2.0.32
opt-einsum==0+untagged.56.g2664021.dirty
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
palettable==3.3.0
pandas==1.0.3
pandas-summary==0.0.7
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.4.4
PDPbox==0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pipenv @ file:///home/conda/feedstock_root/build_artifacts/pipenv_1591112276050/work
plac==0.9.6
plotly==4.6.0
plotnine==0.7.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1592827468899/work
preshed==2.0.1
prettytable==0.7.2
progressbar2==3.34.3
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit==3.0.4
protobuf==3.12.3
psutil==5.7.0
ptyprocess==0.6.0
pyarrow==0.16.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycparser==2.20
pydeck==0.4.0
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.6.1
pygpu==0.7.6
PyJWT==1.7.1
pylint==1.8.4
PyMySQL==0.9.3
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.0
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1588783985962/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1593716032808/work
python-qt-binding==0.4.3
python-utils==2.4.0
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==18.1.1
QDarkStyle==2.8.1
qt-dotgraph==0.4.1
qt-gui==0.4.1
qt-gui-cpp==0.4.1
qt-gui-py-common==0.4.1
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1588715536397/work
qtconsole==4.7.2
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.2.0
resource-retriever==1.12.6
retrying==1.3.3
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1588950285934/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
Rtree==0.9.4
rviz==1.13.13
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
selenium==3.141.0
Send2Trash==1.5.0
sensor-msgs==1.12.7
Shapely==1.7.0
simplegeneric==0.8.1
six==1.14.0
sklearn-pandas==1.8.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
snowballstemmer==2.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
sound-play==0.3.6
spacy==2.1.8
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1593947940626/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder @ file:///home/conda/feedstock_root/build_artifacts/spyder_1594414168267/work
spyder-kernels @ file:///home/conda/feedstock_root/build_artifacts/spyder-kernels_1594391899293/work
spyder-notebook==0.2.3
srdfdom==0.5.2
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1589222435996/work
sshtunnel==0.1.5
statsmodels==0.11.1
stevedore==1.32.0
streamlit==0.64.0
sympy==1.5.1
tables==3.6.1
tblib==1.6.0
termcolor==1.1.0
terminado==0.8.3
testfixtures==6.10.3
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
Theano @ file:///home/conda/feedstock_root/build_artifacts/theano_1592974408140/work
thinc==7.0.8
tifffile==2020.6.3
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz==0.10.0
topic-tools==1.14.6
tornado==6.0.4
tqdm==4.43.0
traitlets==4.3.3
treeinterpreter==0.2.2
tzlocal==2.1
ujson==1.35
urdfdom-py==0.4.3
urllib3==1.25.9
validators==0.16.0
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1589826977113/work
virtualenv-clone==0.5.4
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1592819210112/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1593120502251/work
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wsq==0.3
wurlitzer==2.0.0
xacro==1.13.5
xlrd==1.2.0
yapf==0.29.0
zict==2.0.0
zipp==3.1.0
